

<div class="w-full dashboard">

    <div class="flex justify-center">
        <h1 class="text-3xl font-bold">
            ChatGroup  
        </h1>
    </div>
    <br /> <br /> <br />

    <div class="w-full my-4">
        <div class="flex justify-center"> 
            <div class="columns-3" style="width: 50%">
                <div class="">
                    <a href="/dashboards"> All Groups </a>
                </div>

                <div class="underline">
                    <a href="/my/groups">  My Groups  </a>
                </div>


                <div class="">
                    <a href="/joined/groups"> Joined Group </a>
                </div>
            </div>
            
            <div class="w-90 text-right" style="width: 50%"> 
                <%= render "dashboards/group_model" %>
            </div>
        </div>
    </div>

    <%= render "my_groups" %>
</div>

