

<div>
    <h1> 
        Welcome To Chat Group 
    </h1>

    <div class="">
        <div class="login">
            <a href="/users/sign_in"> Login </a>
        </div>

        <div class="login">
            <a href="/users/sign_up"> Register  </a>
        </div>
    </div>
</div>

