

<div>

    Welcome To Dashboard 


    <div class>
        <div>
            <a href="/groups"> 
                All Groups 
           </a>
        </div>

        <div>
            <a href="/my/groups"> 
                My Groups 
            </a>
        </div>


        <div>
            <a href="/joined/groups"> 
                Joined Group
            </a>
        </div>

    </div>

</div>