

<div class="p-5">

    <div class="w-full mb-10">
        <h2 class="bold"> My  Group  </h2>
    </div>

    <div class="flex">
        <div class="wd-80">
            Create Post 
            <%= render "from" %>
        </div>

        <div class="wd-80">
            <div class="flex justify-end">
                <h1> Group Memeber <h1> 
            </div>
        </div>
    </div>

    <div class="w-full mt-10">
        <h2 class=""> All Post  </h2>

        <%= render "posts" %>
    </div>

</div>